build*/
.vs/
out/
*.user
*.suo
*.ipch
.cache/
CMakeUserPresets.json
compile_commands.json
.DS_Store

# Python
.venv/
__pycache__/
.pytest_cache/
*.so
*.vtu
*.vti
*.pvd

# IDEs
.vscode/
.vs/
.idea/
.clangd/
